.header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: #CCC;
    border-radius: 100%;
    background-image: url("/images/sabin-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 800px) {
    .header-logo {
        transform: translate(-50%, 50%);
        top: -150px;
    left: 50%;
    }
}