<div class="footer-container">
    <div class="footer-brand"></div>
    <div class="footer-navs">
        <nav class="footer-nav">
            <ul>
                <li><a href="#">Portal Sabin</a></li>
                <li><a href="#">Loja virtual</a></li>
                <li><a href="#">Portal dos médicos</a></li>
                <li><a href="#">Nosso blog</a></li>
                <li><a href="#">Termos de uso</a></li>
            </ul>
        </nav>
        <div class="nav-services">
            <nav class="social-nav">
                <div class="nav-title">Nossas redes</div>
                <ul>
                    <li class="instagram"><a href="#"></a></li>
                    <li class="facebook"><a href="#"></a></li>
                    <li class="linkedin"><a href="#"></a></li>
                    <li class="youtube"><a href="#"></a></li>
                    <li class="x"><a href="#"></a></li>
                    <li class="tiktok"><a href="#"></a></li>
                </ul>
            </nav>
            <nav class="stores-nav">
                <div class="nav-title">Baixe nossos aplicativos</div>
                <ul>
                    <li class="app-store"><a href="#"></a></li>
                    <li class="google-play"><a href="#"></a></li>
                    <li class="amazon-alexa"><a href="#"></a></li>
                </ul>
            </nav>
            
        </div>
    </div>
</div>