<form class="privacy-form" method="post" novalidate onsubmit="return sendPrivacyRequest(this)">
    <div class="privacy-form-title">Nova solicitação</div>
    <p class="privacy-form-description">O Grupo SABIN atua com transparência e garante sua segurança com a proteção de dados. Solicite a revisão das informações desejadas através do formulário abaixo:</p>
    <div class="privacy-form-title2">Tipo de requisição:*</div>
</form>
<div class="privacy-result hide">
    <div class="privacy-form-title">Solicitação enviada!</div>
    <p class="privacy-form-description">Enviaremos em breve no seu e-mail, a confirmação com o seu pedido de atendimento.
    </p>
    <div class="privacy-result-id">Protocolo: <span></span></div>
    <div class="privacy-result-title">Data do pedido:</div>
    <div class="privacy-result-date"></div>
    <div class="privacy-result-title">Tipo da requisição:</div>
    <div class="privacy-result-type"></div>
    <div class="privacy-result-title">Detalhes sobre a sua solicitação:</div>
    <div class="privacy-result-details"></div>
</div>