<div class="privacy-form-title">Suas Configurações</div>
<p class="privacy-form-description">O Grupo SABIN atua com transparência e garante sua segurança com a proteção de
    dados. Nessa seção você pode personalizar as suas configurações de privacidade da forma que desejar.</p>
<div class="privacy-config">
    <div class="privacy-config-item">
        <div class="privacy-config-header">
            <p class="privacy-config-title">Funções de navegação 01</p>
            <div class="privacy-config-info">
                <p class="privacy-config-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <input type="checkbox" name="" onchange="changeAllCheck(this)"/>
                <div class="privacy-config-show-details" onclick="toggleConfigDetail(this)"></div>
            </div>

        </div>
        <div class="privacy-config-detail">
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
        </div>
    </div>
    <div class="privacy-config-item">
        <div class="privacy-config-header">
            <p class="privacy-config-title">Funções de navegação 02</p>
            <div class="privacy-config-info">
                <p class="privacy-config-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <input type="checkbox" name="" onchange="changeAllCheck(this)"/>
                <div class="privacy-config-show-details" onclick="toggleConfigDetail(this)"></div>
            </div>

        </div>
        <div class="privacy-config-detail">
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
        </div>
    </div>
    <div class="privacy-config-item">
        <div class="privacy-config-header">
            <p class="privacy-config-title">Funções de navegação 03</p>
            <div class="privacy-config-info">
                <p class="privacy-config-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <input type="checkbox" name="" onchange="changeAllCheck(this)"/>
                <div class="privacy-config-show-details" onclick="toggleConfigDetail(this)"></div>
            </div>

        </div>
        <div class="privacy-config-detail">
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
            <div class="privacy-config-detail-item">
                <div class="privacy-config-detail-description">Definição interna 01</div>
                <input type="checkbox" name="" />
            </div>
        </div>
    </div>
</div>