<div class="notification-lightbox"></div>
<div class="notification-container">
    <div class="notification-icon" onclick="toggleNotifications()">
        <div class="notification-counter"></div>
    </div>
    <div class="notifications">
        <header class="notifications-header">
            <div class="notifications-title">Notificações</div>
            <div class="notifications-clean" onclick="cleanNotifications()">limpar tudo</div>
            <div class="notifications-close" onclick="toggleNotifications()"></div>
        </header>
        <ul class="notification-list">
            
        </ul>
    </div>
</div>