<div class="loading"></div>
<div class="steps">
    <div class="step show-step" id="step1">
        <div class="confirmation-container">
            <h2 class="section-title2">Faça a confirmação
                da sua conta:</h2>
            <p>Vamos enviar um código de segurança para garantir que você tenha acesso a sua conta.</p>
            <div class="cards-list">
                <div class="card phone-card" onclick="sendConfirmation('phone')">
                    <p>Por mensagem no numero:</p>
                    <span class="card-info"></span>
                </div>
                <div class="card email-card" onclick="sendConfirmation('email')">
                    <p>Por e-mail no endereço:</p>
                    <span class="card-info"></span>
                </div>
            </div>
            <div class="button"><a href="/sabin/pages/recuperar-senha.html">NÃO TENHO ACESSO A ESSES CONTATOS</a></div>
        </div>
    </div>
    <div class="step" id="step2">
        <div class="validation-container">
            <h2 class="section-title validation-title">Para finalizar</h2>
            <p>Em alguns instantes você receberá um código no <span></span> de confirmação.</p>
            <form id="validation-form" onsubmit="return sendValidation(this)" onkeyup="autoChangeFocus(this)">
                <div class="validationNumbers">
                    <input maxlength="1" type="text" name="n1" />
                    <input maxlength="1" type="text" name="n2" />
                    <input maxlength="1" type="text" name="n3" />
                    <div class="separator"></div>
                    <input maxlength="1" type="text" name="n4" />
                    <input maxlength="1" type="text" name="n5" />
                    <input maxlength="1" type="text" name="n6" />
                </div>
                <input type="hidden" minlength="6" name="code" />
                <button>Validar</button>
            </form>
            <div class="button button-transparent"><a onclick="resendCode()" href="#">Não recebi o código, desejo
                    reenviar</a></div>
        </div>
    </div>
</div>