.radios label {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}

.radios label p {
    font-size: 24px;
}

.radios label input {
    width: 22px;
    height: 22px;
    margin-right: 1rem;
    position: relative;
}

.radios label input::before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background-color: #F7E2E2;
    border: 1px solid var(--primary-color);
    border-radius: 100%;


}

.radios label input::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-color: #F7E2E2;
    border-radius: 100%;
    transition: all .2s ease-in-out;

}

.radios label input:checked::after {
    background-color: var(--primary-color);
}

.step-indicator {
    display: flex;
    gap: .5rem;
    position: absolute;
    top: 10%;
    left: 15%;
}

.step-indicator.hide {
    opacity: 0;
}

.step-indicator div {
    background-color: #FF8485;
    width: 22px;
    height: 22px;
    color: #FF8485;
    overflow: hidden;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    white-space: nowrap;
    opacity: 1;
    display: flex;
    align-items: center;
}

.step-indicator div:first-of-type {
    display: none;
    ;
}

.step-indicator div.active-step {
    background-color: var(--primary-color);
    color: #fff;
    width: 50px;
    padding: 0 3rem;
}

.card-list-recover {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.card-list-recover .card {
    min-width: 100%;
    padding: 2rem 2rem 2rem 6.5rem;
    background-position: 3rem center;
    background-size: auto 28px;
    text-align: left;
    display: block;
}

.card-list-recover .card:first-of-type {
    background-size: auto 37px;
    background-position: 3.6rem center;
}

.card-list-recover .card.active {
    background-color: var(--secondary-color);
    color: #fff;
}

#contacts-form input {
    padding-left: 3.5rem;
    background-position: 1rem center;
    background-repeat: no-repeat;
}

/* #contacts-form input.phone {
    background-image: url('/sabin/images/icons/phone.svg');
} */
#contacts-form input.email {
    background-image: url('/sabin/images/icons/email.svg');
}

@media screen and (max-width: 900px) {
    .step-indicator {
        left: 5%;
        top: 0;
    }

    .iti__search-input {
        padding: 15px;
    }
}

.iti {
    width: 100%;
}

.iti .phone {
    font-size: 20px;
    margin-left: 6px !important;
}

.iti .phone::placeholder {
    font-size: 20px;
}

.iti__flag {
    transform: scale(1.2);
}

.iti__arrow {
    display: none;
}

.iti .iti__selected-dial-code {
    background-image: url('/sabin/images/icons/downArrow.svg');
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: right center;
    padding-right: 1.5rem;
}

.iti__selected-country:hover {
    background-color: transparent !important;
}

.iti--fullscreen-popup.iti--container {
    box-sizing: border-box;
}

.iti__search-input {
    padding-left: 20px !important;
}