<div class="loading hide-loading"></div>
<div class="steps recover-steps">
    <div class="step-indicator hide">
        <div class="active-step"></div>
        <div>1 de 4</div>
        <div>2 de 4</div>
        <div>3 de 4</div>
        <div>4 de 4</div>
    </div>
    <div class="step show-step" id="step1">
        <div class="confirmation-container">
            <h2 class="section-title2">Fique tranquilo, nós vamos te ajudar!</h2>
            <p>Para ter acesso à todas aos nossos serviços é necessário confirmar algumas informações. Não se preocupe,
                o processo é rápido e seguro.</p>
            <div class="button" onclick="getCityData()"><a href="#">Iniciar</a></div>
        </div>
    </div>
    <div class="step" id="step2">
        <div class="form-container">
            <p>Vamos lá, para te ajudar a recuperar o acessar, vamos confirmar algumas informações:</p>
            <h2 class="section-title3">Em qual cidade você mora?</h2>
            <form id="city-form" onsubmit="return getCEPData()">
                <div class="radios"></div>
                <div class="button-group">
                    <button>Próximo</button>
                </div>
            </form>
        </div>
    </div>
    <div class="step" id="step3">
        <div class="form-container">
            <h2 class="section-title3">Qual o seu CEP?</h2>
            <form id="cep-form" onsubmit="return getSelectContactUpdate()">
                <div class="radios"></div>
                <div class="button-group">
                    <div class="button button-transparent2" onclick="prevStep(); prevStepIndicator()"><a
                            href="#">Anterior</a></div>
                    <button>Próximo</button>
                </div>
            </form>
        </div>
    </div>
    <div class="step" id="step4">
        <div class="form-container">
            <h2 class="section-title3">Nova Pergunta</h2>
            <div class="button" onclick="nextStep(); nextStepIndicator()"><a href="#">Próximo</a></div>
        </div>
    </div>
    <div class="step" id="step5">
        <div class="form-container">
            <h2 class="section-title3">Muito bem! Selecione o contato que deseja atualizar:</h2>
            <div class="card-list card-list-recover">
                <div class="card phone-card" onclick="selectContact(this, 'phone')">Seu telefone</div>
                <div class="card email-card" onclick="selectContact(this, 'email')">Seu email</div>
            </div>
            <div class="button-group">
                <div class="button button-transparent2" onclick="prevStep(); prevStepIndicator()"><a
                        href="#">Anterior</a></div>
                <div class="button" onclick=" return goToContactInput();"><a href="#">Próximo</a></div>
            </div>
        </div>
    </div>
    <div class="step" id="step6">
        <div class="form-container">
            <h2 class="section-title3">Estamos quase lá! Digite agora seu melhor <span></span> abaixo:</h2>
            <form id="contacts-form" novalidate onsubmit="return sendRecover()">
                <div class="inputs"></div>
                <div class="button-group">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="step" id="step7">
        <div class="validation-container">
            <h2 class="section-title validation-title">Para concluir, enviamos um código para o seu <span class="contact-type-title"></span> </h2>
            <p>Em instantes, você receberá um código de confirmação no <span class="contact-type"></span> <span class="contact-data"></span>. Por favor, digite-o abaixo:</p>
            <form id="validation-form"  onsubmit="return sendValidationRecover(this)" onkeyup="autoChangeFocus(this)">
                <div class="validationNumbers">
                    <input maxlength="1" type="text" name="n1" />
                    <input maxlength="1" type="text" name="n2" />
                    <input maxlength="1" type="text" name="n3" />
                    <div class="separator"></div>
                    <input maxlength="1" type="text" name="n4" />
                    <input maxlength="1" type="text" name="n5" />
                    <input maxlength="1" type="text" name="n6" />
                </div>
                <input type="hidden" minlength="6" name="code" />
                <button>Validar</button>
            </form>
            <div class="button button-transparent"><a onclick="resendCode()" href="#">Não recebi o código, desejo
                    reenviar</a></div>
        </div>
    </div>
</div>